$icons: (
	  sprite: (width: 170px, height: 83px, svgPath: '../img/sprite.svg'),
 	q1: (width: 72px, height: 67px, backgroundX: -88px, backgroundY: 0px),
 	q2: (width: 78px, height: 73px, backgroundX: 0px, backgroundY: 0px),
);
